
.notification-container {
    background-color: #1f1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    color: aliceblue;
  }

  .notification-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px; /* margem do component-div */
    margin-bottom: 10px;
  }